/* --- 全体 --- */
:root {
    --main-color-math: #00008b;
    --main-color-english: #ff69b4;
    --main-color-modernjp: #f49200;
    --main-color-classicjp: #a0522d;
    --main-color-science: #228b22;
    --main-color-social: #e6c700;
    --main-color-others: #808080;
    --bg-color-math: #e6efff;
    --bg-color-english: #ffe6f0;
    --bg-color-modernjp: #fff4e6;
    --bg-color-classicjp: #f5f0e6;
    --bg-color-science: #e7f7ee;
    --bg-color-social: #fffbde;
    --bg-color-others: #f0f0f0;
}
* {
    font-family: "Noto Sans JP", sans-serif;
    font-display: swap;
    box-sizing: border-box !important;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: 100%;  /* 横画面の文字拡大阻止 */
}

/* --- メインコンテナ --- */
.main-content-wrapper {
    width: 100%;
    max-width: 540px;
    height: calc(100dvh - (45px + env(safe-area-inset-bottom)));
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 0;
}
.main-content-wrapper.full-height {
    height: 100dvh !important;
    overflow: hidden;
}
.list-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 16px 12px 16px;
}
.list-section.hidden {
    display: none;
}

/* 見出し */
.header {
    text-align: center;
    margin: 16px 0;
}

/* --- 予定リスト --- */
.plan-item {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 6px 8px;
    border-left: 3px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    align-items: center;
    position: relative;  /* 子要素のpositionを絶対指定したいときに必要 */
}
/* 教科ごとの色設定 */
.plan-item.math { background-color: var(--bg-color-math); }
.plan-item.math i { color: var(--main-color-math); }
.plan-item.english { background-color: var(--bg-color-english); }
.plan-item.english i { color: var(--main-color-english); }
.plan-item.modernjp { background-color: var(--bg-color-modernjp); }
.plan-item.modernjp i { color: var(--main-color-modernjp); }
.plan-item.classicjp { background-color: var(--bg-color-classicjp); }
.plan-item.classicjp i { color: var(--main-color-classicjp); }
.plan-item.science { background-color: var(--bg-color-science); }
.plan-item.science i { color: var(--main-color-science); }
.plan-item.social { background-color: var(--bg-color-social); }
.plan-item.social i { color: var(--main-color-social); }
.plan-item.others { background-color: var(--bg-color-others); }
.plan-item.others i { color: var(--main-color-others); }

.plan-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.plan-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    word-break: break-word;
}

/* --- 教材一覧 --- */
.material-item {
    --material-bg-color: #ffffff;
    --material-bg-width: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    padding: 6px 10px;
    border-left: 3px solid transparent;
    border-radius: 3px;
    /* border-right: 1px solid transparent; */
    font-size: 15px;
    position: relative;
}
.material-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--material-bg-width);
    height: 100%;
    background-color: var(--material-bg-color);
    opacity: 0.8;
    z-index: -10;
}
.material-name-title {
    font-size: 15px;
    margin: 4px 0;
}
.material-name-date, .material-name-progress, .material-name-comment {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    font-size: 12px;
    color: #666;
    /* margin: 2px 0; */
}
.material-item.tapped .material-name-date,
.material-item.tapped .material-name-progress,
.material-item.tapped .material-name-comment {
    max-height: 200px;
    opacity: 1;
}
/* 教科ごとの左枠色設定 */
.material-item.math { border-color: var(--main-color-math); }
.material-item.english { border-color: var(--main-color-english); }
.material-item.modernjp { border-color: var(--main-color-modernjp); }
.material-item.classicjp { border-color: var(--main-color-classicjp); }
.material-item.science { border-color: var(--main-color-science); }
.material-item.social { border-color: var(--main-color-social); }
.material-item.others { border-color: var(--main-color-others); }

/* --- セクション下部のボタン --- */
.bottom-button {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    border-radius: 2px;
    border: 0.5px solid #006ce0;
    background-color: white;
    color: #006ce0;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bottom-button:hover {
    background-color: #f0f0f0;
    border-color: #00008b;
    color: #00008b;
}

/* --- フッター --- */
.button-group {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    box-shadow: 0 -3px 3px -2px #ccc;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    padding-bottom: env(safe-area-inset-bottom);
}
/* ボタン */
.footer-button {
    flex: 2;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    color: #006ce0;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer-button:hover {
    background-color: #f0f0f0;
    color: #00008b;
}

/* --- モーダル --- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal.hidden { display: none; }

.modal-content {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}
@media (min-width: 540px) {
    .list-section, .modal-content {
        /* スクロールバー非表示 */
        scrollbar-width: none;  /* Firefox */
    }
    .list-section::-webkit-scrollbar, .modal-content::-webkit-scrollbar { display: none; }  /* Chrome, Safari */
}

.modal-content h2, p {
    margin-top: 4px;
    text-align: center;
}
.modal-content label {
    display: block;
    margin-top: 4px;
    font-size: 14px;
}
.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="time"],
.modal-content select,
textarea {
    /* デフォルトのCSSがかなり強いので強制的に解除 */
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    width: 100%;
    max-width: 100%;
    margin: 4px 0;
    padding: 4px 8px;
    border: 0.5px solid #666;
    border-radius: 2px;
    background-color: white;
    color: black;
    font-size: 16px;
}
textarea {
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin-top: 12px;
}
.modal-buttons .cancel {
    background: #ccc;
    color: black;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}
.modal-buttons .ok {
    background: #006ce0;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

/* --- チェック・編集・削除ボタン --- */
.material-item .buttons,
.plan-item .buttons {
    display: none;
    position: absolute;
    background-color: rgb(255,255,255,0.7);
    border-radius: 4px;
    top: 6px;
    right: 4px;
    /* transform: translateY(-50%); */
}
/* タップで表示／非表示切替 */
.plan-item.tapped .buttons,
.material-item.tapped .buttons {
    display: flex;
    /* gap: 2px; */
}

.plan-item button,
.material-item button {
    background: none;
    border: 0;
    padding: 4px;
    cursor: pointer;
}

.plan-item button.check i,
.material-item button.add-plan i { color: green !important; }
.plan-item button.edit i,
.material-item button.edit i { color: #006ce0 !important; }
.plan-item button.delete i,
.material-item button.delete i { color: red !important; }
.material-item button.sort-up i,
.material-item button.sort-down i { color: #006ce0 !important; }
.material-item button.info i { color: #333 !important; }
.plan-item .buttons button i,
.material-item .buttons button i { font-size: 15px !important; }
